<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>错误提示</title>
    <link href="/webjarslocator/bootstrap/css/bootstrap.min.css"
          th:href="@{/webjarslocator/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>
                    错误!
                </h4> <strong th:text="${msg}?:''"></strong><a th:href="${url}" class="alert-link">1s后自动跳转</a>
            </div>
        </div>
    </div>
</div>

</body>

<script th:inline="javascript">
    function to() {
        /*<![CDATA[*/
        location.href = /*[[${url}]]*/ '#';
        /*]]>*/
    }

    setTimeout(to, 1500);

</script>

</html>