<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Thymeleaf example</title>
    <link href="../static/css/styles.css"
          th:href="@{/css/styles.css}"
          rel="stylesheet" media="screen"/>

    <link href="/webjarslocator/bootstrap/css/bootstrap.min.css"
          th:href="@{/webjarslocator/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen"/>
    <script src="/webjarslocator/jquery/jquery.min.js"
            th:src="@{/webjarslocator/jquery/jquery.min.js}"></script>

</head>

<body>
<div th:replace="header :: header"></div>
<div style="width:800px; margin:0 auto;">

    <h1>客户追踪</h1>

    <div class="generic-info">
        <h3 >最近客户</h3>

        <div th:if="${pageBean!=null}"  class="table-responsive">
            <table  th:if="${not #lists.isEmpty(pageBean.result)}" class="table table-striped">
                <thead>
                <tr>
                    <th>客户名称</th>
                    <th>客户微信</th>
                    <th>客户手机</th>
                    <th>客户地址</th>
                    <th>客户创建人</th>
                    <th>客户创建时间</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="customer,customerStat : ${pageBean.result}">
                    <td th:text="${customer.customerName}"></td>
                    <td th:text="${customer.openId}"></td>
                    <td th:text="${customer.telephone}"></td>
                    <td th:text="${customer.address}"></td>
                    <td th:text="${customer.userName}"></td>
                    <td th:text="${#dates.format(customer.createdTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>





    <div class="main-block">
        <!-- Insert new guest -->
        <span class="subtitle">添加客户</span>
        <div class="insertBlock">
            <div class="col-md-12 column">
                <form role="form" class="form-inline" th:object="${saveCustomerBean}" method="post" th:action="@{/customers/saveCustomer}">
                    <div class="form-group">
                        <label for="customerName">客户名:</label><input id="customerName" type="text" th:field="*{customerName}" required="required" class="form-control" />
                    </div>


                    <div class="form-group">
                        <label for="openId">微信号:</label><input id="openId" type="text" th:field="*{openId}" required="required" class="form-control" />
                    </div>

                    <div class="form-group  alert-danger" style="display: none" role="alert" id="openIdTip">微信号重复</div>
                    <br/>
                    <div class="form-group">
                        <label for="address">地&nbsp;&nbsp;&nbsp;址:</label><input id="address" type="text" th:field="*{address}"  class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="telephone">手机号:</label><input id="telephone" type="number" th:field="*{telephone}" required="required" class="form-control" />
                    </div>
                    <div class="form-group  alert-danger" style="display: none" role="alert" id="telephoneTip">手机号重复</div>


                    <input id="userId" type="number" th:field="*{userId}"  class="hidden" th:value="${session.user}?${session.user.userId}:1" />
                    <br/>
                    <br/>
                    <button type="submit" class="btn btn-primary btn-block">提交</button>
                </form>

            </div>

        </div>





    </div>
    <footer>
        <div th:replace="footer :: copy">&copy; 2016 blog.codeleak.pl</div>
    </footer>
</div>
</body>
<script type="text/javascript">
    $("#openId").focus(function () {
        $("#openIdTip").fadeOut();
    });

    $("#telephone").focus(function () {
        $("#telephoneTip").fadeOut();
    });

    $("#openId").blur(function () {

        var openId = $("#openId").val();

        $.get("./customers/checkOpenId?openId="+openId, function (result) {
            if (result == "1") {
                $("#openIdTip").fadeIn();
            }
        });
    });

    $("#telephone").blur(function () {

        var telephone = $("#telephone").val();

        $.get("./customers/checkTel?telephone="+telephone, function (result) {
            if (result == "1") {
                $("#telephoneTip").fadeIn();
            }
        });
    });


</script>

</html>