<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <link href="/webjarslocator/bootstrap/css/bootstrap.min.css"
          th:href="@{/webjarslocator/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/signin.css"  th:href="@{/css/signin.css}" rel="stylesheet"/>
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <script src="/webjarslocator/jquery/jquery.min.js"
            th:src="@{/webjarslocator/jquery/jquery.min.js}"></script>


</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div class="container">

    <form id="form" class="form-signin" th:action="@{users/login}" th:method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="userName" class="sr-only">Email address</label>
        <input type="text" id="userName" class="form-control" required="required" name="userName" placeholder="用户名"  />

        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="密码" />
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"/> Remember me
            </label>
        </div>
        <button id="sub" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>
</body>

<script type='text/javascript'>
    $('#sub').click(function () {

    })
</script>
</html>