<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>成员列表</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico" th:href="@{/favicon.ico}"/>
    <link href="../static/css/styles.css"
          th:href="@{/css/styles.css}"
          rel="stylesheet" media="screen"/>

    <link href="/webjarslocator/bootstrap/css/bootstrap.min.css"
          th:href="@{/webjarslocator/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen"/>
    <script src="/webjarslocator/jquery/jquery.min.js"
            th:src="@{/webjarslocator/jquery/jquery.min.js}"></script>

</head>

<body>
<div th:replace="header :: header"></div>
<div style="width:800px; margin:0 auto;">

    <h1>CWSM成员列表</h1>

    <form class="form-inline" th:action="@{${'/users'}}" th:method="get">
        <input type="text" class="form-control" name="userName" placeholder="Search userName..."/>
        <button class="btn btn-primary" type="submit">搜索</button>
    </form>
    <div class="generic-info">
        <div th:if="${ #lists.isEmpty(pageBean.result)}" class="table-responsive">
            <h3>暂无数据</h3>
        </div>
    </div>
    <div class="generic-info" th:if="${not #lists.isEmpty(pageBean.result)}">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>成员名称</th>
                    <th>成员密码</th>
                    <th>成员状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="userAccountBean,userAccountStat : ${pageBean.result}">
                    <td th:text="${userAccountStat.index}"></td>
                    <td th:text="${userAccountBean.userName}"></td>
                    <div th:if="${session.user}?${session.user.userId} eq ${userAccountBean.userId}">
                        <td th:text="${userAccountBean.password}"></td>
                    </div>

                    <div th:if="${session.user}?${session.user.userId} ne ${userAccountBean.userId}">
                        <td ><span>************</span></td>
                    </div>

                    <td th:text="${userAccountBean.accountStatus}"></td>
                    <td>
                        <a th:if="${session.user}?${session.user.userId} eq ${userAccountBean.userId}"
                           th:href="@{${'/users/getUserById'}(userId=${userAccountBean.userId})}">修改</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--分页-->
        <div class="col-md-12 column">
            <ul class="pagination pull-right" th:if="${pageBean.totalPages le 7}">
                <li th:class="${pageBean.pageStart eq 1} ? 'disabled' : ''">
                    <a th:if="${pageBean.pageStart != 1}"
                       th:href="@{${'/users'}(pageStart=${pageBean.pageStart-1},pageSize=${pageBean.pageSize})}">上一页</a>
                    <a th:if="${pageBean.pageStart eq 1}" href="javascript:void(0);">上一页</a>
                </li>

                <li th:each="pageNo : ${#numbers.sequence(1, pageBean.totalPages )}"
                    th:class="${pageBean.pageStart eq pageNo}? 'active' : ''">
                    <a th:if="${pageBean.pageStart  eq pageNo}" href="javascript:void(0);">
                        <span th:text="${pageNo }"></span>
                    </a>
                    <a th:if="${not (pageBean.pageStart  eq pageNo)}"
                       th:href="@{${'/users'}(pageStart=${pageNo},pageSize=${pageBean.pageSize})}">
                        <span th:text="${pageNo }"></span>
                    </a>

                </li>
                <li th:class="${pageBean.pageStart ge pageBean.totalPages} ? 'disabled' : ''">
                    <a th:if="${ pageBean.pageStart lt pageBean.totalPages}"
                       th:href="@{${'/users'}(pageStart=${pageBean.pageStart+1},pageSize=${pageBean.pageSize})}">下一页</a>
                    <a th:if="${pageBean.pageStart  ge pageBean.totalPages}" href="javascript:void(0);">下一页</a>
                </li>
            </ul>

            <!-- 处理页数大于7 的情况 -->
            <ul class="pagination pull-right" th:if="${pageBean.totalPages gt 7}">
                <!-- 上一页 -->
                <li th:class="${pageBean.pageStart eq 1} ? 'disabled' : ''">
                    <a th:if="${pageBean.pageStart ne 1}" aria-label="Previous"
                       th:href="@{${'/users'}(pageStart=${pageBean.pageStart -1},pageSize=${pageBean.pageSize})}">
                        <span aria-hidden="true">上一页</span>
                    </a>
                    <a th:if="${pageBean.pageStart eq 1}" href="javascript:void(0);">上一页</a>
                </li>

                <!-- 首页 -->
                <li class="page-item" th:class="${pageBean.pageStart eq 1} ? 'active' : ''">
                    <a th:href="@{${'/users'}(pageStart=1,pageSize=${pageBean.pageSize})}" class="page-link">1</a>
                </li>


                <!-- 当前页面小于等于4 -->
                <li class="page-item" th:if="${pageBean.pageStart  le 4}" th:each="i : ${#numbers.sequence(2,5)}"
                    th:classappend="${pageBean.pageStart == i } ? 'active' : ''">
                    <a class="page-link" th:href="@{${'/users'}(pageStart=${i},pageSize=${pageBean.pageSize})}">
                        <span th:text="${i}"></span>
                    </a>
                </li>

                <li class="page-item disabled" th:if="${pageBean.pageStart le 4}">
                    <a href="javascript:void(0);" class="page-link">
                        <span aria-hidden="true">...</span>
                    </a>
                </li>

                <!-- 最后一页与当前页面之差，小于等于3 -->
                <li class="page-item disabled" th:if="${(pageBean.totalPages - pageBean.pageStart)  le 3}">
                    <a href="javascript:void(0);" class="page-link">
                        <span aria-hidden="true">...</span>
                    </a>
                </li>

                <li class="page-item" th:if="${(pageBean.totalPages - pageBean.pageStart) le 3}"
                    th:each="i : ${#numbers.sequence(pageBean.totalPages-4, pageBean.totalPages-1)}"
                    th:classappend="${pageBean.pageStart  eq i} ? 'active' : ''">
                    <a class="page-link" th:href="@{${'/users'}(pageStart=${i},pageSize=${pageBean.pageSize})}"
                       th:attr="pageIndex=${i}">
                        <span th:text="${i}"></span>
                    </a>
                </li>

                <!-- 最后一页与当前页面之差大于3，且  当前页面大于4-->

                <li class="page-item disabled"
                    th:if="${(pageBean.pageStart  gt 4) and ((pageBean.totalPages - pageBean.pageStart ) gt 3) }">
                    <a href="javascript:void(0);" class="page-link">
                        <span aria-hidden="true">...</span>
                    </a>
                </li>
                <li class="page-item"
                    th:if="${(pageBean.pageStart  gt 4) and ((pageBean.totalPages - pageBean.pageStart ) gt 3 ) }">
                    <a href="javascript:void(0);" class="page-link"
                       th:href="@{${'/users'}(pageStart=${pageBean.pageStart-1},pageSize=${pageBean.pageSize})}"
                       th:text="${pageBean.pageStart-1 }"></a>
                </li>
                <li class="page-item active"
                    th:if="${((pageBean.pageStart ) gt 4) and ((pageBean.totalPages - pageBean.pageStart ) gt 3 )}">
                    <a href="javascript:void(0);" class="page-link"
                       th:href="@{${'/users'}(pageStart=${pageBean.pageStart},pageSize=${pageBean.pageSize})}"
                       th:text="${pageBean.pageStart}"></a>
                </li>
                <li class="page-item"
                    th:if="${(pageBean.pageStart  gt 4) and ((pageBean.totalPages - pageBean.pageStart ) gt 3 )}">
                    <a href="javascript:void(0);" class="page-link"
                       th:href="@{${'/users'}(pageStart=${pageBean.pageStart+1},pageSize=${pageBean.pageSize})}"
                       th:text="${pageBean.pageStart + 1}"></a>
                </li>

                <li class="page-item disabled"
                    th:if="${(pageBean.pageStart gt 4) and ((pageBean.totalPages - pageBean.pageStart ) gt 3 ) }">
                    <a href="javascript:void(0);" class="page-link">
                        <span aria-hidden="true">...</span>
                    </a>
                </li>

                <!-- 最后一页 -->
                <li class="page-item" th:classappend="${pageBean.pageStart eq pageBean.totalPages} ? 'active' : ''">
                    <a href="javascript:void(0);" class="page-link" th:attr="pageIndex=${pageBean.totalPages} - 1"
                       th:text="${pageBean.totalPages}"
                       th:href="@{${'/users'}(pageStart=${pageBean.totalPages},pageSize=${pageBean.pageSize})}"
                    ></a>
                </li>

                <!-- 下一页 -->
                <li class="page-item" th:class="${pageBean.pageStart ge pageBean.totalPages} ? 'disabled' : ''">
                    <a class="page-link" aria-label="Next" th:if="${ pageBean.pageStart lt pageBean.totalPages}"
                       th:href="@{${'/users'}(pageStart=${pageBean.pageStart+1},pageSize=${pageBean.pageSize})}">
                        <span aria-hidden="true">下一页</span>
                    </a>
                    <a th:if="${pageBean.pageStart  ge pageBean.totalPages}" href="javascript:void(0);">下一页</a>
                </li>
            </ul>


        </div>
    </div>


    <footer>
        <div th:replace="footer :: copy">&copy; 2016 blog.codeleak.pl</div>
    </footer>
</div>
</body>

</html>